/data
/data_2
/data_3
/labeled_data
/raw_data
/clusters
/clusters_2
/data_labeled
/einstein_rings/einstein_rings_augmented
/einstein_rings/output
/einstein_rings/augmented_dataset
/einstein_rings/generated_rings_final
/einstein_rings/generated_rings_vae
/einstein_rings/generated_rings_gan
/einstein_rings/generated_no_rings_gan
/einstein_rings/generated_no_rings_vae
/einstein_rings/hybrid_dataset
/einstein_rings/hybrid_dataset_no_lens
/temp-dir
/notebook/ddpm-es-128/logs
/notebook/einstein_rings/logs
/notebook/ema-es-64/logs
/notebook/ema-es-64-(2)/logs
/notebook/ema-es-64-(3)/logs
/notebook/ema-es-64-(4)/logs
/notebook/ema-es-64-v5/logs
/notebook/ema-es-64-v6/logs
/notebook/ema-es-64-v6
/notebook/ema-es-128-v7/logs
/notebook/synthetic_rings
*.safetensors
.env